* {
    font-family: Helvetica;
}

.header {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.brushes-section h2 {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.prices {
    font-weight: bold;
    color: blue;
}

.frames-section h2 {
    background-color: lightcoral;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.paint-section h2 {
    background-color: skyblue;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
